#client-container {
  width: 100%;
  height: 100vh;
  margin-top: -30px;
  padding: 15px;
  background-color: var(--primary-base-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  color: white;

  #section1-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;

    h2 {
      font-size: var(--subheader-font-size);
      margin-bottom: 15px;
    }

    p {
      font-size: var(--paragraph-font-size);
    }

    #clientDetails-container {
      background-color: var(--primary-dark-color);
      height: 50%;
      padding: 15px;
      font-size: 13px;
      border-radius: 25px;

    }
    #portfolioSummary-container {
      background-color: var(--primary-dark-color);
      height: 50%;
      padding: 15px;
      border-radius: 25px;
    }
  }

  #section2-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #stockSummary-container {
      background-color: var(--primary-dark-color);
      padding: 10px;
      display: flex;
      justify-content: center;
      border-radius: 25px;

      ::-webkit-scrollbar {
        height: 10px;
      }

      ::-webkit-scrollbar-track {
        background-color: var(--primary-faint-color);
        border-radius: 15px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 15px;

        &:active {
          background-color: whitesmoke;
        }
      }

      #stockSummary-element-container {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        width: 425px;

        .stockSummary-element {
          margin-right: 5px;
          padding: 40px 80px 40px 80px;
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;
          user-select: none;
          border: solid 2px var(--primary-faint-color);
          margin-bottom: 3px;
          border-radius: 25px;

        }
      }
    }
    #portfolioDetails-container {
      background-color: var(--primary-dark-color);
      height: 75%;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 25px;

      h2 {
        margin-bottom: 15px;
        font-size: var(--subheader-font-size);
      }

      table {
        font-size: var(--subheader-font-size);
        width: 80%;

        thead {
          tr {
            th {
              text-align: left;
              padding: 15px;

            }
          }
        }

        tbody {
          tr {
            td {
              padding: 15px;
            }
          }
        }
      }
    }
  }
}