#home-container {
  color: white;
  font-size: var(--note-font-size);
  width: 250px;

  nav {
    width: 100%;

    header {
      border: 2px solid var(--primary-faint-color);
      border-radius: 15px 15px 1px 1px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px 5px 10px;
      color: var(--primary-font-color);

      .navigation {
        user-select: none;
      }

      img {
        user-select: none;
      }
    }

    .dropdown {
      display: flex;
      align-items: center;
      flex-direction: column;
      visibility: hidden;
      border-radius: 1px 1px 15px 15px;
      border-left: 1px solid var(--primary-faint-color);
      border-right: 1px solid var(--primary-faint-color);
      border-bottom: 1px solid var(--primary-faint-color);
      background-color: rgb(33, 33, 33, .4);

      &.show {
        visibility: visible;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        user-select: none;
        cursor: pointer;

        &:hover {
          border-left: 1px solid white;
          background-image: linear-gradient(to right, rgb(255, 255, 255, .01),
                  rgb(33, 33, 33, .4), rgb(255, 255, 255, .01));
          border-right: 1px solid white;
          font-weight: bold;

          &:last-child {
            border-radius: 1px 1px 15px 15px;
          }
        }
      }
    }
  }
}