main {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark-color);
  height: 100vh;
  width: 100vw;

  #header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark-color);
    height: 50px;
  }

  #component-container {
    display: flex;
    width: inherit;
    flex-direction: row;

    #nav-container {
      background-color: var(--primary-dark-color);
      width: 60px;
    }

    #route-container {
      width: 100%;
      display: flex;
      padding-top: 30px;
      justify-content: center;
      align-items: center;
    }
  }
}